@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color: #FFF5E0;
    font-family: 'poppins'  , sans-serif ; 
}

#counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 50%;
    height: 75%;
    background-color: #8DECB4;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #FFF5E0;
    padding: 25px;
}

.counter-title{
    color: white;
    text-shadow: 5px 0px 5px #000;
    font-weight: 600;
}



#count{
    font-weight: 700;
    color: #141E46;
    font-size: 150px;
    text-align: center;
    display: grid;
    place-items: center;

}

#dataInput{
    padding: 15px;
    border: none;
    outline: none;
    color: #141E46;
    font-size: larger;
    background-color: transparent;
    border-radius: 25px;
}
#dataInput::placeholder{
    color: #141E46;
    font-family: 'poppins', sans-serif;
}






button{
    padding: 10px;
    margin: 6px;
    border: none;
    font-weight: 600;
    border-radius: 25px;
    color: #41B06E;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    color: white;
    background-color: #41B06E;
}